In [75]:
import pandas as pd

df_clean = pd.read_parquet('../../data/processed/df_clean.parquet')

In [76]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46985090 entries, 0 to 46985089
Data columns (total 13 columns):
 #   Column           Dtype
---  ------           -----
 0   item_id          category
 1   dept_id          category
 2   cat_id           category
 3   store_id         category
 4   state_id         category
 5   revenue          float32
 6   event_cultural   uint8
 7   event_national   uint8
 8   event_religious  uint8
 9   event_sport      uint8
 10  day_of_week      uint8
 11  month            uint8
 12  year             uint16
dtypes: category(5), float32(1), uint16(1), uint8(6)
memory usage: 806.6 MB

In [77]:
df_clean

,item_id,dept_id,cat_id,store_id,state_id,revenue,event_cultural,event_national,event_religious,event_sport,day_of_week,month,year
0,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0.00,0,0,0,0,5,1,2011
1,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0.00,0,0,0,0,5,1,2011
2,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0.00,0,0,0,0,5,1,2011
3,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0.00,0,0,0,0,5,1,2011
4,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0.00,0,0,0,0,5,1,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46985085,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,5.76,0,0,0,0,5,4,2015
46985086,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,0.00,0,0,0,0,5,4,2015
46985087,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,0.00,0,0,0,0,5,4,2015
46985088,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0.00,0,0,0,0,5,4,2015
46985089,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,3.00,0,0,0,0,5,4,2015

### Separate out numeric columns to save memory

In [78]:
num_cols = df_clean.select_dtypes('integer').columns
num_cols = num_cols.insert(0, 'revenue')
df_clean_num = df_clean[num_cols]

In [79]:
df_clean_num.to_parquet('../../data/processed/df_clean_num_cols.parquet')

In [80]:
del(num_cols)
del(df_clean_num)

### Encode categorical features

In [83]:
df_clean

,item_id,dept_id,cat_id,store_id,state_id,revenue,event_cultural,event_national,event_religious,event_sport,day_of_week,month,year
0,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0.00,0,0,0,0,5,1,2011
1,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0.00,0,0,0,0,5,1,2011
2,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0.00,0,0,0,0,5,1,2011
3,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0.00,0,0,0,0,5,1,2011
4,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0.00,0,0,0,0,5,1,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46985085,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,5.76,0,0,0,0,5,4,2015
46985086,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,0.00,0,0,0,0,5,4,2015
46985087,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,0.00,0,0,0,0,5,4,2015
46985088,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0.00,0,0,0,0,5,4,2015
46985089,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,3.00,0,0,0,0,5,4,2015

In [84]:
cat_cols = df_clean.select_dtypes('category').columns
cat_cols

Index(['item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'], dtype='object')

In [86]:
df_clean = df_clean.loc[:, cat_cols]
df_clean.to_parquet('../../data/processed/df_clean_cat_cols.parquet')

In [125]:
df_clean = pd.read_parquet('../../data/processed/df_clean_cat_cols.parquet')

In [126]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46985090 entries, 0 to 46985089
Data columns (total 5 columns):
 #   Column    Dtype
---  ------    -----
 0   item_id   category
 1   dept_id   category
 2   cat_id    category
 3   store_id  category
 4   state_id  category
dtypes: category(5)
memory usage: 268.9 MB

In [127]:
df_clean

                item_id    dept_id   cat_id store_id state_id
0         HOBBIES_1_001  HOBBIES_1  HOBBIES     CA_1       CA
1         HOBBIES_1_002  HOBBIES_1  HOBBIES     CA_1       CA
2         HOBBIES_1_003  HOBBIES_1  HOBBIES     CA_1       CA
3         HOBBIES_1_004  HOBBIES_1  HOBBIES     CA_1       CA
4         HOBBIES_1_005  HOBBIES_1  HOBBIES     CA_1       CA
...                 ...        ...      ...      ...      ...
46985085    FOODS_3_823    FOODS_3    FOODS     WI_3       WI
46985086    FOODS_3_824    FOODS_3    FOODS     WI_3       WI
46985087    FOODS_3_825    FOODS_3    FOODS     WI_3       WI
46985088    FOODS_3_826    FOODS_3    FOODS     WI_3       WI
46985089    FOODS_3_827    FOODS_3    FOODS     WI_3       WI

[46985090 rows x 5 columns]

In [128]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1, dtype=int)

In [129]:
oe.fit(df_clean[['item_id','dept_id', 'store_id']])

OrdinalEncoder(dtype=<class 'int'>, handle_unknown='use_encoded_value',
               unknown_value=-1)

In [130]:
df_clean[['item_id','dept_id', 'store_id']] = oe.transform(df_clean[['item_id','dept_id', 'store_id']])

In [131]:
from joblib import dump
dump(oe, '../../models/item_encoder.joblib')

['../../models/item_encoder.joblib']

In [132]:
cat_cols = df_clean.select_dtypes('category').columns
df_clean[cat_cols]

           cat_id state_id
0         HOBBIES       CA
1         HOBBIES       CA
2         HOBBIES       CA
3         HOBBIES       CA
4         HOBBIES       CA
...           ...      ...
46985085    FOODS       WI
46985086    FOODS       WI
46985087    FOODS       WI
46985088    FOODS       WI
46985089    FOODS       WI

[46985090 rows x 2 columns]

In [133]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse_output=False, dtype=int, handle_unknown='infrequent_if_exist')
ohe.set_output(transform='pandas')

features = ohe.fit_transform(df_clean[cat_cols])

In [146]:
dump(ohe, '../../models/ohe_encoder.joblib')

['../../models/ohe_encoder.joblib']

In [143]:
features = features.join(df_clean[['item_id','dept_id', 'store_id']])

In [145]:
features

,cat_id_FOODS,cat_id_HOBBIES,cat_id_HOUSEHOLD,state_id_CA,state_id_TX,state_id_WI,item_id,dept_id,store_id
0,0,1,0,1,0,0,1437,3,0
1,0,1,0,1,0,0,1438,3,0
2,0,1,0,1,0,0,1439,3,0
3,0,1,0,1,0,0,1440,3,0
4,0,1,0,1,0,0,1441,3,0
...,...,...,...,...,...,...,...,...,...
46985085,1,0,0,0,0,1,1432,2,9
46985086,1,0,0,0,0,1,1433,2,9
46985087,1,0,0,0,0,1,1434,2,9
46985088,1,0,0,0,0,1,1435,2,9
46985089,1,0,0,0,0,1,1436,2,9

In [ ]:
### recover memory
del(cat_cols)
del(df_clean)
del(oe)
del(ohe)

In [149]:
df_clean_num = pd.read_parquet('../../data/processed/df_clean_num_cols.parquet')

In [151]:
features = features.join(df_clean_num)
del(df_clean_num)

In [152]:
features

,cat_id_FOODS,cat_id_HOBBIES,cat_id_HOUSEHOLD,state_id_CA,state_id_TX,state_id_WI,item_id,dept_id,store_id,revenue,event_cultural,event_national,event_religious,event_sport,day_of_week,month,year
0,0,1,0,1,0,0,1437,3,0,0.00,0,0,0,0,5,1,2011
1,0,1,0,1,0,0,1438,3,0,0.00,0,0,0,0,5,1,2011
2,0,1,0,1,0,0,1439,3,0,0.00,0,0,0,0,5,1,2011
3,0,1,0,1,0,0,1440,3,0,0.00,0,0,0,0,5,1,2011
4,0,1,0,1,0,0,1441,3,0,0.00,0,0,0,0,5,1,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46985085,1,0,0,0,0,1,1432,2,9,5.76,0,0,0,0,5,4,2015
46985086,1,0,0,0,0,1,1433,2,9,0.00,0,0,0,0,5,4,2015
46985087,1,0,0,0,0,1,1434,2,9,0.00,0,0,0,0,5,4,2015
46985088,1,0,0,0,0,1,1435,2,9,0.00,0,0,0,0,5,4,2015
46985089,1,0,0,0,0,1,1436,2,9,3.00,0,0,0,0,5,4,2015

In [155]:
features.to_parquet('../../data/processed/features.parquet')

In [156]:
from sklearn.model_selection import train_test_split
target = features.pop('revenue')
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=8)

del(features)
del(train_test_split)

In [158]:
from sklearn.linear_model import LogisticRegression

log = LogisticRegression(solver='sag', warm_start=True)

In [159]:
log.fit(X_train, y_train)

MemoryError: Unable to allocate 4.48 GiB for an array with shape (37588072, 16) and data type float64